<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="#">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Saved Articles</a>
        </li>
        <button class="btn btn-danger" id="scrape-new">Scrape New Articles</button>
        <button class="btn btn-danger" id="clear-articles">Clear Articles</button>

    </div>
  </nav>
</div>

<div class="landing-page">
  <img src="assets/img/newspaper.jpg" height="500px" width="100%">
</div>


<div class="container-fluid">

   <div class="card shadow">
      <div class="card-header noarticle-msg1">
            <p>{{this.msg1}}</p>
      </div>
   </div>

   <div class="card shadow">
      <div class="card-body noarticle-msg2">
         <p>{{this.msg2}}</p>
      </div>
   </div>

   <div class="card shadow">
      <div class="card-body noarticle-msg3">
         <div class="row">
          <div class="col-sm-12">
            <button id="scrape-link" class="button-link">{{this.msg3}}</button>
          </div>
         </div>
         <div class="row">
          <div class="col-sm-12">
            <button id="saved-articles" class="button-link">{{this.msg4}}</button>
          </div>
        </div>
      </div>

    </div>


</div>